<div class="row">

  <!-- /# column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>Gestion des propriétaires </h4>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Non & Prenom</th>
              <th>Genre</th>
              <th>Date De Naissance</th>
              <th>Regions</th>
              <th>Carte CIN </th>
              <th>Ville</th>
              <th>Code Postal</th>
              <th style="text-align: center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let Proprietaire of ProprietairesList">

              <th scope="row">{{Proprietaire.id}}</th>
              <td>{{Proprietaire.nom  }} {{Proprietaire.prenom  }}</td>
              <td><span
                [ngClass]="Proprietaire.genre == 'Femme' ? 'badge badge-danger' : 'badge badge-primary'">{{Proprietaire.genre  }}</span>
              </td>

              <td>{{Proprietaire.dateDeNaissance | date}}</td>
              <td>{{Proprietaire.regions}}</td>
              <td>{{Proprietaire.cin}}</td>
              <td>{{Proprietaire.ville}}</td>
              <td>{{Proprietaire.codePostal}}</td>

              <td style="text-align: center">
                <span>
                  <button style=" margin-right: 17px;" class="btn btn btn-outline-info" data-toggle="modal"
                          data-target="#exampleModalCenter" (click)="update(Proprietaire)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn btn-outline-danger" (click)="confirmBox(Proprietaire.id)"><i
                    class="fa fa-trash-o" aria-hidden="true"></i></button>

                </span>

              </td>


            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>  <app-update [item]="proprietaireUpdate"></app-update>

<!-- /# row -->
<ngb-pagination
  (pageChange)="pageChange($event-1)"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="items"></ngb-pagination>

