<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="/assets/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Connecter à <strong>CBA</strong></h3>
              <p class="mb-4">Connectez-vous et découvrez la plateforme de la gestion des vergers & la système
                d'information géographique.</p><br>
              <form [formGroup]="loginForm" (ngSubmit)="onSumbit()">
                <div class="form-group first field--not-empty">
                  <label for="username">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email est obligatoire</div>
                  </div>
                </div>
                <div class="form-group first field--not-empty">
                  <label for="password">Password</label>
                  <input type="password"
                         id="password"
                         formControlName="password"
                         class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Mot de passe est obligatoire</div>
                  </div>
                </div>
                <p style="color: red">{{error}}</p>
                <div class="d-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>
                  <!--                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>-->
                  <span class="ml-auto"><a routerLink="/register" class="forgot-pass">S'inscrire </a></span>
                </div>

                <input type="submit" value="Connexion" class="btn text-white btn-block btn-primary">

              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


