
<!--<div class="row">-->
<!--  <div id="hotel_map"  ></div>-->
<!--   <div style="-->
<!--    position: absolute;-->
<!--    top: 56px;-->
<!--    left: 1472px;-->
<!--">-->
<!--  <p-listbox [options]="cities" [(ngModel)]="selectedCities"  checkbox="checkbox"  optionLabel="name" (onChange)="onChange($event)" >-->

<!--  </p-listbox></div>-->
<!--</div>-->

<!--&lt;!&ndash;<p-dialog header="Title" [(visible)]="">&ndash;&gt;-->
<!--&lt;!&ndash;  Content&ndash;&gt;-->
<!--&lt;!&ndash;</p-dialog>&ndash;&gt;-->

<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button HIDDEN type="button" id="id" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" STYLE="max-width: NONE;    margin: 14%;">-->
<!--    <div class="modal-content" style="-->
<!--    width: fit-content;-->
<!--    MARGIN: auto;-->
<!--">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Detail Verger </h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body" id="modal-body">-->


<!--&lt;!&ndash;        <table class="table table-striped">&ndash;&gt;-->
<!--&lt;!&ndash;          <thead>&ndash;&gt;-->
<!--&lt;!&ndash;          <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <th scope="col">Nom </th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th scope="col">Prenom</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th scope="col">Adress</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th scope="col">Rendemen</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th scope="col">Superfic</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th scope="col">Age moye</th>&ndash;&gt;-->
<!--&lt;!&ndash;            <th scope="col">Densites</th>&ndash;&gt;-->
<!--&lt;!&ndash;          </tr>&ndash;&gt;-->



<!--&lt;!&ndash;          </thead>&ndash;&gt;-->
<!--&lt;!&ndash;          <tbody id="tbody">&ndash;&gt;-->
<!--&lt;!&ndash;          <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>Mark</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>Otto</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>@mdo</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>MarkVGHJBKJNK?</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>OtDGFXCHGVJHto</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>Otto</td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td>@GFHGJHVGHCVBJ HVGFXTGF</td>&ndash;&gt;-->
<!--&lt;!&ndash;          </tr>&ndash;&gt;-->

<!--&lt;!&ndash;          </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>-->
<!--       </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<router-outlet></router-outlet>
