

 <div class="preloader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>

 <div id="main-wrapper">
  <!-- header header  -->
   <app-header style=" display: flow-root"></app-header>

   <!-- End header header -->
  <app-left-sidebar></app-left-sidebar>
  <!-- Page wrapper  -->
  <div class="page-wrapper" STYLE="padding: 40px">
    <!-- Bread crumb -->

    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid" style="display: contents;">
      <!-- Start Page Content -->

<router-outlet></router-outlet>






      <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->
    <footer class="footer"style="
    position: fixed;
    top: 865px;
"> © 2021 All rights reserved.   <a href="https://www.cba.bf/index.php/le-cba/presentation-du-cba">CBA</a></footer>
    <!-- End footer -->
  </div>
  <!-- End Page wrapper  -->
</div>




