<ngx-spinner bdColor = "rgba(252,252,252,0.8)" size = "medium" color = "#40a028" type = "line-scale" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="row">

  <!-- /# column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h4>Gestion des Vergers </h4>

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Superficies</th>
              <th>Age Moyen</th>
              <th>Densites</th>
              <th>Rendements</th>
              <th>Annee du production</th>
              <th>Ajoute Par</th>
              <th style="text-align: center">Localisation</th>

              <th style="text-align: center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let Verger of VergersList">

              <th scope="row">{{Verger.id}}</th>
              <td>{{Verger.superficies  }} </td>


              <td>{{Verger.ageMoyen | date}}</td>
              <td>{{Verger.densites}}</td>
              <td>{{Verger.rendements}}</td>
              <td>{{Verger.annee | date:'yyyy'}}</td>
              <td>{{Verger.ajoutePar}}</td>

              <td style="text-align: center">
                <button class="btn btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter"
                        (click)="Localisation(Verger.id)"><i class="fa fa-map-marker" aria-hidden="true"></i>
                </button>
              </td>


              <td style="text-align: center">
                <span>
                  <button style=" margin-right: 17px;" class="btn btn btn-outline-info"  data-toggle="modal" data-target="#exampleModal"
                           (click)="update(Verger)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn btn-outline-danger" (click)="confirmBox(Verger.id)"><i
                    class="fa fa-trash-o" aria-hidden="true"></i></button>

                </span>

              </td>


            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- /# row -->
<ngb-pagination
  (pageChange)="pageChange($event-1)"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="items"></ngb-pagination>





<!-- Modal -->
<div class="modal  " id="exampleModalCenter" tabindex="-1"   aria-labelledby="exampleModalCenterTitle"
>
  <div class="modal-dialog modal-dialog-centered   ">
    <div class="modal-content">

      <div class="modal-body">


        <div id="hotel_map"></div>

      </div>

    </div>
  </div>
</div>

<app-update [item]="VergersUpdate"></app-update>
<!-- Modal -->

