<div class="row">
  <div id="hotel_map"></div>
  <div
    style="
    position: absolute;
    top: 11%;
    left: 90%;
"
  >
    <p-listbox [options]="cities" checkbox="checkbox" optionLabel="name" (onChange)="onChange($event)">

    </p-listbox>
  </div>
</div>
<div id="info">No countries selected</div>
<!--<p-dialog header="Title" [(visible)]="">-->
<!--  Content-->
<!--</p-dialog>-->

<!-- Button trigger modal -->
<button HIDDEN type="button" id="id" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" STYLE="max-width: NONE      ">
    <div class="modal-content" style="
    width: fit-content;
    MARGIN: auto;
">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Verger </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
